In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = np.genfromtxt(r'C:\Users\DELL\Downloads\train3.csv', delimiter = ',')
X_test = np.genfromtxt(r'C:\Users\DELL\Downloads\test3.csv',delimiter = ',')

In [3]:
X_train = data[:,:-1]
Y_train = data[:,-1]   

coloumns = X_train.shape[1]


    


#adding multiplication of next row


ones = np.ones(X_train.shape[0]).reshape(-1,1)
X_train = np.append(X_train,ones,axis = 1)










ones1 = np.ones(X_test.shape[0]).reshape(-1,1)
X_test = np.append(X_test,ones1,axis = 1)

In [4]:
data1 = pd.DataFrame(X_train)
data1.head()

       0      1        2      3    4
0   8.58  38.38  1021.03  84.37  1.0
1  21.79  58.20  1017.21  66.74  1.0
2  16.64  48.92  1011.55  78.76  1.0
3  31.38  71.32  1009.17  60.42  1.0
4   9.20  40.03  1017.05  92.46  1.0

In [5]:
df = pd.DataFrame(X_test)
df.head()

       0      1        2      3    4
0  11.95  42.03  1017.58  90.89  1.0
1  12.07  38.25  1012.67  81.66  1.0
2  26.91  74.99  1005.64  78.98  1.0
3  20.58  39.53  1005.68  62.09  1.0
4  16.78  37.20  1011.97  68.94  1.0

In [6]:
def step_gradient(X_train,Y_train,m,j,learning_rate):
    m_slope = 0
    
    M = X_train.shape[1]
    
    N = len(m)
    for i in range(X_train.shape[0]):
        x_i = X_train[i,:]
        y_i = Y_train[i]
        temp_sum = 0
        
        for k in range(N):
            temp_sum += m[k]*x_i[k]
        
        temp_sum = y_i - temp_sum
        
        m_slope += (-2/M)*(temp_sum)*x_i[j]
    
    
    m[j] = m[j] - (learning_rate*m_slope)
    return m[j]

In [7]:
def gradient(X_train,Y_train,num_of_iterations,learning_rate):
    
    m = np.zeros(X_train.shape[1])
    
    
    for i in range(num_of_iterations):
        for j in range(len(m)):
            m[j] = step_gradient(X_train,Y_train,m,j,learning_rate)
        
    return m

In [8]:
def predict(X_test,m):
    n_fts = X_test.shape[1]
    n_m = np.array(m).reshape(n_fts,1)
    
    return np.dot(X_test,n_m)

In [31]:
def run():
    num_of_iterations = 5000
    learning_rate = 0.0000000006
    m = gradient(X_train,Y_train,num_of_iterations,learning_rate)
    
    Y_predict = predict(X_test,m)
    
    print(Y_predict)
    np.savetxt('pred.csv',Y_predict,fmt = '%.5f',delimiter = ',')

In [32]:
run()

[[470.81107402]
 [469.299841  ]
 [435.09735373]
 ...
 [445.70040957]
 [459.0899791 ]
 [454.31099898]]